<!-- sidebar -->
<nav data-ng-include=" '../views/partials/sidebar.html' "
     class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main"></nav>
<!-- / sidebar -->
<div class="main-content">
    <!-- top navbar -->
    <nav data-ng-include=" '../views/partials/top-navbar.html' "
         class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main"></nav>
    <!-- / top navbar -->
    <!-- main content -->
    <div data-ng-include=" '../views/partials/main-content.html' "></div>
    <!-- / main content -->
   
</div>

